$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
) !default;

// color setting
$primary: map-get($foundation-palette, primary);
$secondary: map-get($foundation-palette, secondary);
$success: map-get($foundation-palette, success);
$warning: map-get($foundation-palette, warning);
$white: map-get($foundation-palette, white);
$alert: map-get($foundation-palette, alert);
