<html>
	<head>
		
	</head>
	<body>


	</body>
</html>

<html>
	<head>
		<script type="text/javascript" src="http://dev.webitart.com/lib/dependencies/jquery/dist/jquery.min.js"></script>
	</head>
	<body>
		<button class="bottom">OPEN</button>
		<script type="text/javascript">
			


			$(".bottom").on("click",function (e) {
				onParent.onClick();
				window.close();
			})

		</script>
	</body>
</html>