$foundation-palette: (
  primary: #FF6868,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
) !default;

@import "lib/dependencies/foundation-sites/scss/foundation";
@include foundation-everything(true);
