{strip}
    <div class="row margin-vertical-medium">
        <div class="column text-center padding-top-medium">
            
            <div class="row small-up-1 medium-up-2 large-up-1">
                <div class="column">
                    {include file="../../commons/adv.tpl" data=$sponsor.data[0]}
                   {* <div class="border margin-bottom-medium" 
                         style="width: 100%; max-width: 300px; height: 120px; display: inline-block">
                        tips
                    </div>*}
                </div>
                <div class="column">
                        {include file="../../commons/adv.tpl" data=$sponsor.data[0]}
                </div>
            </div>
        </div>
    </div>
{/strip}