<div class="card">
    <div style="height: 200px; width: 100%">
        
    </div>
    <dl>
        <div class="primary">prova</div>
  <dt>Definition Title</dt>
  <dd><a href="">questo è un link</a></dd>
  <dd>Definition Cras justo odio, dapibus ac facilisis in, egestas eget quam. Nullam id dolor id nibh ultricies vehicula ut id elit.</dd>
</dl>
</div>