// Sass Default

//sass foundation.scss:style.css --style compressed

@mixin element($property, $area, $levels,$offset:5){
    @for $i from 0 to $levels{
    	@if $area == '' {
	    	.#{$property}-#{$i}{
	            #{$property}: #{$i * $offset}px;
	        }
    	} @else {
	    	.#{$property}-#{$area}-#{$i}{
	            #{$property}: #{$i * $offset}px;
	        }
    	}
    }
}

@mixin elementgroup($property, $area, $levels,$offset:5){
    @include element($property,$area,$levels);
	@include element(#{$property + '-top'},$area,$levels,$offset);
	@include element(#{$property + '-bottom'},$area,$levels,$offset);
	@include element(#{$property + '-left'},$area,$levels,$offset);
	@include element(#{$property + '-right'},$area,$levels,$offset);
}

html,body,.display{
    min-height: 100%
}

.row-fullscreen
{
    max-width: 100%!important;
}

.image{
    background-color: #fff;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.image-cover{
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.valign-middle{
    display: table;
    height: 100%
}

.valign-middle > .env{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}


@include elementgroup('margin','',13);
@include elementgroup('padding','',13);
@include element('height','',13,50);


/* Small only */
@media screen and (max-width: 39.9375em) {
	$wbt-media: 'small';
 	@include elementgroup('margin',$wbt-media,13);
 	@include elementgroup('padding',$wbt-media,13);
 	@include element('height',$wbt-media,13);
}

/* Medium and up */
@media screen and (min-width: 40em) {
	$wbt-media: 'medium-up';
 	@include elementgroup('margin',$wbt-media,13);
 	@include elementgroup('padding',$wbt-media,13);
 	@include element('height',$wbt-media,13);
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	$wbt-media: 'medium';
	@include elementgroup('margin',$wbt-media,13);
 	@include elementgroup('padding',$wbt-media,13);
 	@include element('height',$wbt-media,13);
}

/* Large and up */
@media screen and (min-width: 64em) {
	$wbt-media: 'large-up';
	@include elementgroup('margin',$wbt-media,13);
 	@include elementgroup('padding',$wbt-media,13);
 	@include element('height',$wbt-media,13);
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
	$wbt-media: 'large';
	@include elementgroup('margin',$wbt-media,13);
 	@include elementgroup('padding',$wbt-media,13);
 	@include element('height',$wbt-media,13);
}

.bar-title{
	border-bottom: 1px groove #fff;
	margin-bottom: 20px;
}
.bar-title > *{
	background-color: $primary;
	color: #fff;
	padding: 10px 10px 10px 10px;
    display: inline-block;
    margin: 0px;
}

.fullwidth{
	width:100%;
}

.fixed{
	position:fixed;
	z-index:11;
}

.pv-menu{
	width:100%;
	padding: 10px;
	background-color: #fff;
	box-shadow: 4px -2px 7px;
}

.inline{
	display: inline-block;
}

.footer-background{
	background-color: $neutral;
}


.color-primary{
	color: $primary;
	&:hover{
		color: scale-color($primary, $lightness: -15%)
	}
}
.color-secondary{
	color: $secondary;
	&:hover{
		color: scale-color($secondary, $lightness: -15%)
	}
}
.color-tertiary{
	color: $tertiary;
	&:hover{
		color: scale-color($tertiary, $lightness: -15%)
	}
}
.color-success{
	color: $success;
	&:hover{
		color: scale-color($success, $lightness: -15%)
	}
}
.color-warning{
	color: $warning;
	&:hover{
		color: scale-color($warning, $lightness: -15%)
	}
}
.color-alert{
	color: $alert;
	&:hover{
		color: scale-color($alert, $lightness: -15%)
	}
}
.color-light-gray {
	color: $light-gray;
}

.color-medium-gray {
	color: $medium-gray;
}

.color-dark-gray {
	color: $dark-gray;
}

.color-black {
	color: $black;
}

.color-white {
	color: $white;
}


.background-primary{
	background-color: $primary;
	&hover{
		background-color: scale-color($primary, $lightness: -15%)
	}
}
.background-secondary{
	background-color: $secondary;
	&hover{
		background-color: scale-color($secondary, $lightness: -15%)
	}
}
.background-tertiary{
	background-color: $tertiary;
	&hover{
		background-color: scale-color($tertiary, $lightness: -15%)
	}
}
.background-success{
	background-color: $success;
	&hover{
		background-color: scale-color($success, $lightness: -15%)
	}
}
.background-warning{
	background-color: $warning;
	&hover{
		background-color: scale-color($warning, $lightness: -15%)
	}
}
.background-alert{
	background-color: $alert;
	&hover{
		background-color: scale-color($alert, $lightness: -15%)
	}
}
.background-light-gray {
	background-color: $light-gray;
}

.background-medium-gray {
	background-color: $medium-gray;
}

.background-dark-gray {
	background-color: $dark-gray;
}

.background-black {
	background-color: $black;
}

.background-white {
	background-color: $white;
}
