$foundation-palette: (
  primary: #2199e8,
  secondary: #777,
  tertiary: #00C93E,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
) !default;

// color setting
$primary: map-get($foundation-palette, primary);
$secondary: map-get($foundation-palette, secondary);
$tertiary: map-get($foundation-palette, tertiary);
$success: map-get($foundation-palette, success);
$warning: map-get($foundation-palette, warning);
$white: map-get($foundation-palette, white);
$alert: map-get($foundation-palette, alert);
$neutral: #E9E9E9;

$light-gray: #e6e6e6 !default;
$medium-gray: #cacaca !default;
$dark-gray: #8a8a8a !default;
$black: #0a0a0a !default;
$white: #fefefe !default;
