{strip}
    <div class="row">
        <div class="column large-12">
            {lang footer='Footer'}
        </div>
    </div>
    <script>
        $(document).foundation();
    </script>
    <script src="http://gh-canon.github.io/stack-snippet-console/console.min.js"></script>
{/strip}