{strip}
	{if $debug==1}<pre>{$bean|print_r}</pre>{/if}
	<label>{$bean.label}
		<input {field type=$bean}{field id=$bean}{field class=$bean}{field name=$bean}{field value=$bean}{field regex=$bean wbtattr="pattern"}{field min=$bean}{field max=$bean}{field required=$bean}{field readonly=$bean}{field style=$bean}{field maxlength=$bean}{field placeholder=$bean}{field step=$bean}{field accept=$bean}{field checked=$bean}{field disabled=$bean}>
		{include file='./js_preview.tpl'}
	</label>
{/strip}